<div class="jumbotron center">
	<h1>About This Project</h1>
	<p>This is a project meant to emulate some of the functionality of pinterest in order to get the coder familiar with many of the features of Ruby on Rails.</p>
</div>