<div class='jumbotron center'>
	
	<h1> Author </h1>	
	
	<p>The author of this project is Bryan Duffy, a Purdue student majoring in Computer Science. He is looking to get into web development, and was recommended Onemonthrails.com as a great way to get started working with Ruby on Rails. He hopes to use the knowelege he gains from the class to create a new website for his Fraternity and also to create some web apps.</p>
		
	<img src = "http://web.ics.purdue.edu/~prsa/Photos/Main%20Page/purdue1_web.jpg">

</div>